{% extends 'vistas_administrador\side_menu_admin.html' %}
{% load static %}

{% block title %}
    Administrador usuarios
{% endblock title %}


{% block contenido %}

<form method="post" >

    {% csrf_token %}
    <h3>¿Desea eliminar el registro de <strong>{{ graduado.base.nombres}} {{ graduado.base.apellidos}}</strong>?</h3>
    <button type="submit" class="btn btn-danger mb-3 col-12">Sí, eliminar</button>
    <a class="btn btn-outline-primary mb-3 col-12" href=" {% url 'adminGraduadospre' %}">Cancelar</a>
   
</form>

{% endblock contenido %}