{% extends 'vistas_administrador/side_menu_admin.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Administrar Empleos
{% endblock title %}

{% block contenido %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-9 col-11">
            <div class="text-center">
                <h3>Agregar</h3>
                <p class="blue-text">Los campos obligatorios están marcados con <strong><span
                            class="text-danger">*</span></strong><br> asegurese de
                    llenarlos
                    para guardar los datos.</p>
            </div>
            <div class="card">
                <h5 class="text-center mb-4">Bolsa de Empleo</h5>
                <form method="post" enctype="multipart/form-data" class="form-card">
                    {% csrf_token %}
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.portada.label }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.portada |add_class:'form-control' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.contactos.label }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.contactos |add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:0999999999' }}
                        </div>
                    </div>
                    {% if empleo.portada %}
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3">
                                Portada Actual:
                                <span class="text-danger">*</span>
                            </label>
                            <div style="background-color: #136955; width: fit-content">
                                    <img src="{{ empleo.portada.url }}" alt="imagen" width="200px" height="180px">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.puesto.label }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.puesto |add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Puesto/Titulo' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.autor.label }}
                                <span class="text-danger"> *</span>
                            </label>
                            {{ form.autor |add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.descripcion_corta.label }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.descripcion_corta }}
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.ciudad.label }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.ciudad |add_class:'form-control' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.carrera_sugerida.label }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.carrera_sugerida |add_class:'form-control' }}
                        </div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.descripcion_completa.label }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.descripcion_completa }}
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6">
                            <button class="btn btn-danger col-12" type="button"
                                onclick="window.location.href='{% url 'adminEmpleos' %}'">Cancelar</button>
                        </div>
                        <div class="form-group col-sm-6">
                            <button class="btn btn-success col-12" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

{% endblock contenido %}

{% block javascripts %}
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      {{ script|safe }}
    });
</script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    CKEDITOR.replace('id_descripcion_completa'); 
</script>
<script>
  const textarea = document.getElementById("descripcion_corta");
    textarea.addEventListener("keyup", e =>{
      textarea.style.height = "63px";
      let scHeight = e.target.scrollHeight;
      textarea.style.height = `${scHeight}px`;
    });
  </script>
{% endblock javascripts %}