{% extends 'side_menu_admin.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Administrar GraduadosPre
{% endblock title %}
{% block contenido %}

<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="head-table">
                    <h5><strong>Listado de Graduados</strong></h5>
                    <button class="btn btn-success" type="button"
                        onclick="window.location.href='{% url 'regPregraduado' %}'">Añadir Nuevo</button>
                </div>
                <table id="graduadopre" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Registo</th>
                            <th>Encuesta</th>
                            <th>Cedula</th>
                            <th>Nombres</th> 
                            <th>Apellidos</th>
                            <th>Correo Institucional</th>
                            <th>Carreras</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if pregraduado %}
                        {% for graduado_pre in pregraduado %}

                        <tr>
                            <td class="center-table">{{ graduado_pre.date_joined }}</td>
                            {% if graduado_pre.base.is_graduado %}
                                <td class="center-table bg-c-lite-green">Completado <i class='bx bx-check'></i></td>
                            {% else %}
                                <td class="center-table bg-c-lite-green">Pendiente
                            {% endif %}
                            <td class="center-table">{{ graduado_pre.base.cedula }}</td>
                            <td class="center-table">{{ graduado_pre.base.nombres }}</td>
                            <td class="center-table">{{ graduado_pre.base.apellidos }}</td>
                            <td class="center-table">{{ graduado_pre.base.email }}</td>
                            <td>
                                
                                {% if graduado_pre.relaciones_filtradas %}
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="center-table">Carrera</th>
                                                <th class="center-table">Período</th>
                                                <th class="center-table"><a class="btn btn-success btn-sm" href="{% url 'regCarrera' graduado_pre.id %}"
                                                    role="button"><i class='bx bx-plus-medical'></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                                {% for relacion in graduado_pre.relaciones_filtradas %}
                                                <tr>
                                                    <td class="center-table">{{ relacion.carrera.nombre }}</td>
                                                    <td class="center-table">{{ relacion.periodo_graduado }}</td>
                                                    <td class="center-table">
                                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                            <a class="btn btn-primary" href="{% url 'editarCarrera' relacion.id %}"
                                                                role="button"><i class='bx bxs-edit'></i></a>
                                                            <a class="btn btn-danger" href="{% url 'eliminarCarrera' relacion.id %}"
                                                                role="button"><i class='bx bxs-trash-alt' ></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                                <a class="btn btn-success" href="{% url 'regCarrera' graduado_pre.id %}"
                                                    role="button"><i class='bx bx-plus-circle'></i></a>
                                {% endif %}
                            </td>

                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a class="btn btn-primary" href="{% url 'editarPregraduado' graduado_pre.id %}"
                                        role="button">Editar</a>
                                    <a class="btn btn-danger" href="{% url 'eliminarPregraduado' graduado_pre.id %}"
                                        role="button">Eliminar</a>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}
                        {% endif %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Registo</th>
                            <th>Encuesta</th>
                            <th>Cedula</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo Institucional</th>
                            <th>Carreras</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}