{% extends 'side_menu_admin.html' %}
{% load static %}
{% block title %}
Administrar Emprendimientos de Nuestros Alumnos
{% endblock title %}
{% block contenido %}

<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="head-table">
                    <h5><strong>Listado de Emprendimientos</strong></h5>
                    <button class="btn btn-success" type="button"
                        onclick="window.location.href='{% url 'regEmprendimiento' %}'">Añadir Nuevo</button>
                </div>
                <table id="emprendimientos" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Descripción Corta</th>
                            <th>Propietario</th>
                            <th>Contactos</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if emprendimiento %}
                        {% for emprendimiento in emprendimiento %}

                        <tr>
                            <td>{{ emprendimiento.titulo}}</td>
                            <td>{{ emprendimiento.descripcion_corta }}</td>
                            <td>{{ emprendimiento.propietario }}</td>
                            <td>{{ emprendimiento.contacto }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <a class="btn btn-primary" href="{% url 'editarEmprendimiento' emprendimiento.id %}"
                                        role="button">Editar</a>
                                    <a class="btn btn-danger" href="{% url 'eliminarEmprendimiento' emprendimiento.id %}"
                                        role="button">Eliminar</a>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}
                        {% endif %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Titulo</th>
                            <th>Descripción</th>
                            <th>Propietario</th>
                            <th>Contactos</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}