{% extends "vistas_generales/index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>Restablecer Contraseña</title>
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static 'css/css_admin_login.css' %}">
{% endblock %}


{% block contenido %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 login-section-wrapper">
                <div class="login-wrapper my-auto">
                    <h1 class="login-title">Restablecimiento de contraseña completado</h1>
                    <h6 class="mt-50">Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.</h6>
                    <button type="button" onclick="window.location.href='{% url 'ingresar' %}'"
                        class="btn btn-info col-8 mt-3">Iniciar sesión</button>
                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="{% static 'images/12.png' %}" alt="login image" class="login-img">
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% endblock %}