{% extends "vistas_olvide_mi_password/password_reset_complete.html" %}
{% load static %}
{% load widget_tweaks %}
{% block contenido %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 login-section-wrapper">
                    <div class="login-wrapper my-auto">
                        <h1 class="login-title">Olvide mi contraseña</h1>
                        <h5 class="mt-50">Ingrese su email, y le enviaremos instrucciones para ingresar una nueva
                            contraseña</h5>
                        <form method="POST">
                            {% csrf_token %}
                            {{form.email |add_class:'form-control'|attr:'placeholder:Ingrese su Correo' }}
                            <button class="btn btn-danger mt-3" type="button"
                                    onclick="window.location.href='{% url 'ingresar' %}'">Cancelar</button>
                            <input class="btn btn-primary mt-3" type="Submit" name="Send email" value="Enviar">
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="{% static 'images/12.png' %}" alt="login image" class="login-img">
                </div>
            </div>
        </div>
    </main>
{% endblock %}