{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Template</title>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static 'css/css_admin_login.css' %}">
</head>

<body>
    {% include 'estructuras_html\header.html'%}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 login-section-wrapper">
                    <div class="login-wrapper my-auto">
                        <h1 class="login-title">Restablecimiento de contraseña enviado</h1>
                        <h6 class="mt-50">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</h6>
                        <br/>
                        <h6>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</h6>



                    </div>
                </div>
                <div class="col-sm-6 px-0 login-section-wrapper d-sm-block">
                    <video width="400" height="350" autoplay loop muted>
                        <source src="{% static 'videos/email.mp4' %}" type="video/mp4">
                        Tu navegador no soporta el elemento de video.
                    </video>
                    <br>
                    <button type="button" onclick="window.location.href='{% url 'ingresar' %}'" class="btn btn-info col-8">Regresar a Login</button>
                </div>
            </div>
        </div>
    </main>
    {% include 'estructuras_html\footer.html' %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>