{% extends "vistas_olvide_mi_password/password_reset_complete.html" %}
{% load static %}
{% load widget_tweaks %}
{% block contenido %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 login-section-wrapper">
                <div class="login-wrapper my-auto">
                    <h1 class="login-title">Restablecimiento de contraseña enviado</h1>
                    <h6 class="mt-50">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si
                        existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</h6>
                    <br />
                    <h6>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se
                        registró y verifique su carpeta de correo no deseado.</h6>



                </div>
            </div>
            <div class="col-sm-6 px-0 login-section-wrapper d-sm-block">
                <video width="400" height="350" autoplay loop muted>
                    <source src="{% static 'videos/email.mp4' %}" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
                <br>
                <button type="button" onclick="window.location.href='{% url 'ingresar' %}'"
                    class="btn btn-info col-8">Regresar a Login</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}