{% extends 'vistas_administrador/side_menu_admin.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Administrador usuarios
{% endblock title %}

{% block titulo %}
<div class="col-sm-6 mb-3">
    <h1 class="m-0">Capacitaciones y Eventos</h1>
</div><!-- /.col -->

<link rel="stylesheet" href="{% static 'ckeditor/ckeditor.css' %}">
{% endblock titulo %}


{% block contenido %}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-9 col-lg-10 col-md-9 col-11">
            <div class="text-center">
                <h3>Agregar</h3>
                <p class="blue-text">Los campos obligatorios están marcados con <strong><span
                            class="text-danger">*</span></strong><br> asegurese de
                    llenarlos
                    para guardar los datos.</p>
            </div>
            <div class="card">
                <h5 class="text-center mb-4">Capacitación o Evento</h5>
                <form method="post" enctype="multipart/form-data" class="form-card">
                    {% csrf_token %}
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.titulo.label_tag }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.titulo |add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Titulo de la Capacitación/Evento' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.portada.label_tag }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.portada |add_class:'form-control' }}
                        </div>
                    </div>

                    {% if capacitacion.portada %}
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex ml-auto">
                                <label class="form-control-label px-3">
                                    Imagen Actual:
                                    <span class="text-danger">*</span>
                                </label>
                                <div style="background-color: #136955; width: fit-content">
                                    <img src="{{ capacitacion.portada.url }}" alt="imagen" width="200px" height="180px">
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.fecha.label_tag }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.fecha |add_class:'form-control' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.hora.label_tag }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.hora |add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Hora' }}
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.descripcion_corta.label_tag }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.descripcion_corta |add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Descripción Corta' }}
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.enlace.label_tag }}
                                <span class="text-danger"> *</span>
                            </label>
                            {{ form.enlace |add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Enlace' }}
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.inversión.label_tag }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.inversión |add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Inversión' }}
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3">
                                {{ form.descripcion_completa.label }}
                                <span class="text-danger">*</span>
                            </label>
                            {{ form.descripcion_completa |add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Diseñe un Mini-Blog Aqui' }}
                        </div>

                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6">
                            <button class="btn btn-danger col-12" type="button"
                                onclick="window.location.href='{% url 'adminCapacitaciones' %}'">Cancelar</button>
                        </div>
                        <div class="form-group col-sm-6">
                            <button class="btn btn-success col-12" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if script %}
<script>
    {{ script|safe }}
</script>
{% endif %}
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    CKEDITOR.replace('id_descripcion_completa'); 
</script>

<script>
  const textarea = document.getElementById("descripcion_corta");
    textarea.addEventListener("keyup", e =>{
      textarea.style.height = "63px";
      let scHeight = e.target.scrollHeight;
      textarea.style.height = `${scHeight}px`;
    });
  </script>
{% endblock %}